{% extends 'CleaningBundle::layout.html.twig' %}
	{% block body %}
		<h2>Uppgifter</h2>
		{% for task in tasks %}           
    	    <h3>{{ task.name }}</h3>        	
      	{% endfor %}
	{% endblock %}